name: Test

# uncomment if needed ci
on:
  # push:
  #   branches:
  #     - main
  # pull_request:
  #   branches:
  #     - "*"

jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        name: Install Python
        with:
          python-version: 3.11
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install wheel setuptools
          pip install -r requirements.txt
          pip install -r requirements-dev.txt
      - name: Run test
        run: |
          python -m pytest tests
